.sidebar {
  background: #000;
  min-height: 100vh;
  text-align: center;
  color: #fff;
}

.mainContent {
  background: #fff;
  padding: 15px;
}

body {
  margin: 0px;
  padding: 0px;
}

@media (max-width: 960px) {
  .sidebar {
    min-height: 20px;
    width: 100%;
  }
}
